var filters = {    
  toFixed: function (value) {       
      return value.toFixed(2)
  },
  toStr: function (value) {       
      return value.toString()
  },
  toNum: function (value) {       
      return value.toNumber()
  },
  includes: function (value, str) {
    return value.includes(str)
  },
  replace: function (value, cStr, str) {
    return value.replace(cStr, str)
  }
}

module.exports = {   //暴露接口调用
  toFixed: filters.toFixed,
  toStr: filters.toStr,
  toNum: filters.toNum,
  includes: filters.includes,
  replace: filters.replace
}